// Style For Filter
.filter {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  z-index: 5;

  button {
    cursor: pointer;
    transition: all 0.5s linear;
    margin: 0.2rem;
    padding: 0.2rem 0.5rem;
    color: inherit;
    background: transparent;

    &.activo {
      font-weight: bold;
      text-decoration: underline;
      text-underline-offset: 0.2rem;
    }
  }
}

@media screen and (width >= 768px) {
  .filter {
    margin-top: 1.2rem;

    button {
      margin: 0.4rem;
    }
  }
}

@media screen and (width >= 1024px) {
  .filter {
    margin-top: 0.5rem;

    button {
      margin: 0.6rem;
    }
  }
}
